/target/
test-output/
test-output/testng-results.xml
test-output/old/Default suite/methods.html
test-output/old/Default suite/methods-alphabetical.html
test-output/index.html
test-output/emailable-report.html
test-output/Default suite/Default test.xml
test-output/Default suite/Default test.html
ScreenshotsFolder/SensipleMailLogin.png
